.nasa-missions-search-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: auto;
  height: 25%;
  background-color: rgb(14 14 41 / 40%);
  padding: 1em;
  margin: 3em 0.5em 6em 6em;
  border-radius: 0.5em;
  box-shadow: 0 0 1px rgb(255 255 255 / 59%);
}

.nasa-missions-search-filter input {
  width: 55%;
  background-color: rgb(141 141 139);
  transition: transform 250ms ease-in-out;
  font-size: 1em;
  line-height: 18px;
  border-radius: 10px;
  border: 1px solid #575756;
  padding: 0.7rem;
  padding-left: 2.5rem;
  color: white;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
}

.search-icon {
  .search-icon {
    color: white;
    font-size: 2em;
    z-index: 10;
  }
}

.nasa-missions-search-filter p {
  font-size: 1em;
  letter-spacing: 2px;
  margin-top: 1rem;
  font-weight: 200;
}

.nasa-missions-search-filter ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nasa-missions-search-filter li {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 200;
  margin-right: 10em;
}

.nasa-missions-search-filter li input {
  margin: 0;
  width: 0.8em;
}
