.nasa-missions-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: rgb(14 14 41 / 40%);
  padding: 2em;
  margin: 3em 6em 6em 1em;
  border-radius: 8px;
  box-shadow: 0 0 1px rgb(255 255 255 / 59%);
}
