<section class="nasa-missions-card-container" ...attributes>
  <img />
  <h3 class="nasa-missions-card-title">

    {{#if @mission.name}}
      {{@mission.name}}
    {{/if}}
  </h3>
  <p class="nasa-missions-card-endDate">

    {{#if @mission.endDate}}
      {{@mission.endDate}}
    {{/if}}
  </p>

</section>