<div class="nasa-missions-cards-container">
  {{#if @missions}}
    {{#each @missions as |mission|}}
      <NasaMissionsCard @mission={{mission}} />
    {{/each}}
  {{else}}
    <p>No mission available</p>
  {{/if}}
</div>