.iss-tracker-section {
  display: flex;
  justify-content: center;
}

.iss-tracker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(14 14 41 / 40%);
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 0 1px rgb(255 255 255 / 59%);
}

.iss-tracker-coordinates {
  display: flex;
  flex-direction: space-between;
  gap: 4em;
}

.iss-tracker-map {
  border-radius: 8px;
  width: 800px;
  height: 500px;
  margin: 2em;
}

.iss-tracker-data {
  display: flex;
  flex-direction: column;
  margin: 4em;
}

.iss-tracker-data h3 {
  font-weight: 200;
}
