.homepage-welcome-message {
  font-weight: 100;
  text-align: center;
  margin-bottom: 3em;
  font-size: 3em;
}

.homepage-random-fact {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: rgb(14 14 41 / 40%);
  padding: 2em;
  margin: 3em 6em 6em 10em;
  border-radius: 8px;
  box-shadow: 0 0 1px rgb(255 255 255 / 59%);
}

.homepage-random-fact h2 {
  font-size: 2em;
}

.homepage-random-fact h3 {
  font-weight: 100;
  font-size: 2em;
}

.homepage-random-fact p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

@media (width <= 1199px) and (width >= 768px) {
  .homepage-welcome-message {
    font-size: 2.5em;
    margin-bottom: 2.5em;
    padding: 0 2em;
  }

  .homepage-random-fact {
    width: 60%;
    margin: 3em auto 4em;
    padding: 2em;
  }

  .homepage-random-fact h2 {
    font-size: 1.8em;
  }

  .homepage-random-fact h3 {
    font-size: 1.3em;
  }
}

@media (width <= 767px) {
  .homepage-welcome-message {
    font-size: 2em;
    margin-bottom: 2em;
    padding: 0 1em;
  }

  .homepage-random-fact {
    width: 75%;
    margin: 2em auto 3em;
    padding: 1.5em;
  }

  .homepage-random-fact h2 {
    font-size: 1.5em;
  }

  .homepage-random-fact h3 {
    font-size: 1.1em;
  }
}
