.nasa-missions-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 400px;
  max-width: 600px;
  height: auto;
  background-color: rgb(14 14 41 / 40%);
  padding: 1em;
  margin: 1.5em;
  border-radius: 8px;
  box-shadow: 0 0 1px rgb(255 255 255 / 59%);
}

/* @media (width <= 1199px) and (width >= 768px) {
  .nasa-missions-cards-container {
    margin: 2em;
    padding: 1.2em;
    flex-direction: column;
    justify-content: center;
  }
}
@media (width <= 767px) {
  .nasa-missions-cards-container {
    margin: 1em;
    padding: 0.7em;
    flex-direction: column;
    align-items: stretch;
  }
} */
