<div class="iss-tracker-container">
  <section class="iss-tracker-placeholders">
    <div class="iss-tracker-data">
      <h3>Latitude</h3>
      <h3>{{@iss.latitude}} N</h3>
    </div>

    <div class="iss-tracker-data">
      <h3>Longitude</h3>
      <h3>{{@iss.longitude}} W</h3>
    </div>

    <div class="iss-tracker-data">
      <h3>Time(GTM)</h3>
      <h3>{{@iss.formattedTimestamp}} </h3>
    </div>
  </section>
</div>