{{page-title "ProjectNereo"}}

<header>
  <div class="logo-container">
    <h2>
      <LinkTo @route="homepage">
        Project NEREO
      </LinkTo>
    </h2>

    <LinkTo @route="homepage">
      <img
        src="assets/images/project-nereo-logo.png"
        alt="Project NEREO Logo"
        class="project-logo"
      />
    </LinkTo>

  </div>
  <nav>
    <h3><LinkTo @route="nasa-missions">NASA Missions</LinkTo></h3>
    <h3><LinkTo @route="gallery">Gallery</LinkTo></h3>
    <h3><LinkTo @route="iss-tracker">ISS Tracker</LinkTo></h3>
    <h3><LinkTo @route="your-favorites">Your Favorites</LinkTo></h3>
  </nav>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <p>© 2025 Project NEREO</p>
</footer>