{{page-title "Homepage"}}

<div class="homepage-container">
  <h1 class="homepage-welcome-message">
    Step inside - your journey to the stars starts here!
  </h1>

  <aside class="homepage-random-fact">
    <h2>
      Did you know?
    </h2>

    <h3>
      A random fun fact about the universe.
    </h3>

  </aside>
</div>
{{outlet}}