{{page-title "Homepage"}}

<h1>
  Step inside - your journey to the stars starts here!
</h1>

<aside>
  <h2>
    Did you know?
  </h2>

  <p>
    A random fact about the universe
  </p>

</aside>
{{outlet}}