{{page-title "Missions"}}
<div class="nasa-missions-container">
  <h1 class="nasa-missions-title">
    All NASA Missions
  </h1>
  <section class="nasa-missions-section">
    <NasaMissionsSearchFilter />
    <NasaMissionsCardsContainer />

  </section>
</div>
{{outlet}}